.row
  .col
    %p.d-flex.flex-row-reverse
      = link_to 'Create a character', new_character_path, class: 'btn btn-primary my-2'
.row.row-cols-1.row-cols-sm-2.row-cols-md-3.g-3.mb-lg-5
  - @characters.each do |character|
    .col
      = render 'characters/card', character: character, winner: false
